h5 {
    color: azure;
}

img {
    width: 200px;
    height: 200px;
}

.section-one {
    background-color: #1f2937;
}

.section-three {
    background-color: lightgrey;
}

.section-four-box {
    background-color: aqua;
}

.footer {
    background-color: #1f2937;
}


